# Core
pandas
numpy
scikit-learn

# Data ingestion
yfinance
requests

# NLP + Sentiment
textblob
vaderSentiment

# Explainability
shap

# Dashboard
streamlit
matplotlib
seaborn
plotly

# Optional (for smoother deployment)
python-dotenv
